.perfomance-price{
    padding-left: 1rem;
    width: 50rem;
}
.perfomance-price *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cash-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 1rem;
}
.perfomance-price__row{
    border-bottom: 1px solid rgb(198, 198, 198);
    padding-bottom: 1rem;
}

.ticket-refund *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
}

.cash-note{
    color: red;
    font-style: italic;
}