.perfomance-price{
    padding-left: 1rem;
    width: 50rem;
}

.cash-header{
    padding-left: 1rem;
}
.perfomance-price__row{
    border-bottom: 1px solid rgb(198, 198, 198);
    padding-bottom: 1rem;
}

.ticket-refund *{
    font-size: 0.9rem;
}

.cash-note{
    color: red;
    font-style: italic;
    padding-left: 1.5rem;
}