.contacts-header{
    text-align: center;
}

.constacts-owner-name{
    width: 58rem;
    margin: auto;
    background-color: rebeccapurple;
    padding: 2rem 0;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.contacts-table{
    margin: auto;
}
.contacts-table td{
    border-bottom: 1px solid rgb(220,220,220);
    padding: 1rem;
}

.contacts-addresess{
    display: flex;
    width: 58rem;
    margin: auto;
    margin-top: 1rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.contacts-address{
    width: 26rem;
    height: 10rem;
    padding: 1rem;
    color:grey;
    margin: 0;
}
.contacts-address:nth-child(2n){
    text-align: right;
}

@media(max-width:830px){
    .contacts-addresess{
        display: block;
    }
    .contacts-address:nth-child(2n){
        text-align: left;
    }
    .contacts-address{
        height: 3rem;
        font-size: 0.75rem;
    }
    .contacts-table{
        font-size: 0.75rem;
    }      
}