.perfomance *{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rebeccapurple;
}

.perfomance__name{
    padding: 2rem 0;
    font-size: 2rem;
}

.perfomance__decription{
    width: 60rem;
    margin: 0 auto;
    padding: 2rem 3rem;
    line-height: 1.5;
}

.genre-author{
    display: flex;
    justify-content: space-around;
}

.genre-author__header{
    color:black;
    font-weight: 800;
    padding-right: 1rem;
}

.perfomance__actors{
    width: 60rem;
    margin: 1rem auto;
}
.perfomance__row{
    display: flex;
}
.perfomance__row *{
    width: 100%;
}
.perfomance__actor{
    font-weight: bold;
}
.perfomance__time{
    font-weight: 800;
    color:black;
}
.perfomance__btn{
    display: block;
    width: 7rem;
    height: 3rem;
    background-color: white;
    margin: auto;
    cursor: default;
}
.perfomance__btn:hover{
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
}
.perfomance__btn:active{
    background-color: white;
    cursor: default;
    color:rebeccapurple;
    cursor: default;
}