.navbar-custom {
    margin-bottom: 0.5rem;
}

.footer-custom{
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    margin-top: 0.5rem;
}

.bgcolor-rebeccapurple{
    background-color: rebeccapurple;
}